.header__navi-bar .navi__title:nth-child(1):hover,
.header__navi-bar .navi__title:nth-child(2):hover,
.header__navi-bar .navi__title:nth-child(3):hover,
.header__navi-bar .navi__title:nth-child(4):hover,
.header__navi-bar .navi__title:nth-child(5):hover,
.header__navi-bar .navi__title:nth-child(6):hover {
  padding: 45px 0px;
  border-bottom: 3px solid rgb(0, 247, 255);
}

.button:hover .main-img__Team {
  display: block;
}
