.header__navi ul li:nth-child(1):hover,
.header__navi ul li:nth-child(2):hover,
.header__navi ul li:nth-child(3):hover,
.header__navi ul li:nth-child(4):hover,
.header__navi ul li:nth-child(5):hover,
.header__navi ul li:nth-child(6):hover {
  padding: 45px 0px;
  border-bottom: 3px solid rgb(0, 247, 255);
}
.main-img__section .readmore__container {
  display: none;
  position: absolute;
  left: 380px;
  top: 0;
  background-color: rgb(33, 167, 55);
  padding: 360px 580px;
  border-radius: 10px;
}
.readmore__content {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  left: 0px;
  top: 50px;
}
.readmore__content img {
  width: 100px;
  margin-left: 115px;
  margin-top: 140px;
}
.button:hover .readmore__container {
  display: block;
}
