.container {
  display: flex;

  width: 1200px;
  margin: 0 auto;
  margin-top: 120px;
}

.container .timestemp {
  background-color: rgb(0, 153, 255);
  display: inline;
  padding: 3px 10px;
}
.small__timestemp {
  background-color: rgb(0, 153, 255);
  display: inline;
  padding: 1px 6px;
  align-items: center;
  color: black;
}

.container h1 {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}
.container h2 {
  color: white;
  margin-top: 70px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 1.35rem;
}
.container h3 {
  color: white;
  font-weight: 700;
  font-size: 1rem;
}
.container .blog-date {
  display: flex;

  font-weight: 600;
  color: rgb(116, 116, 116);
  margin-bottom: 40px;
}
.blog-date :nth-child(1)::after {
  color: rgb(116, 116, 116);
  content: "ㅣ";
  margin-left: 7px;
  margin-right: 7px;
}
.container p {
  width: 80%;
  font-weight: 600;
  color: rgb(116, 116, 116);
  line-height: 25px;
  margin-bottom: 20px;
}
.main-button__small {
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.349);
  display: inline;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 20px;
}

.main-left__content {
  margin-right: 30px;
}
/*main-left__content*/
.main-left__content {
  width: 100%;
}
.blog-1 img {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
}
.blog-1 .date__list span {
  color: aqua;
}
.blog-2 .date__list span,
.blog-3 .date__list span {
  color: yellow;
}

.blog-2,
.blog-3 {
  display: flex;
}
.blog__columb:nth-child(1) {
  margin-right: 20px;
}
.blog__columb img {
  margin-top: 60px;
  margin-bottom: 30px;
  width: 100%;
  height: 260px;
}

/*main-right__content*/
.main-right__content {
  width: 350px;
}
.main-right__content img {
  width: 80px;
  height: 80px;
}
.search input {
  width: 100%;
  height: 55px;
  border-bottom: 3px solid aqua;
  border-top: none;
  border-right: none;
  border-left: none;
}
.categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  color: rgb(116, 116, 116);
  font-weight: 600;
}
.categories .list-count {
  color: black;
  font-weight: lighter;
  background-color: rgb(0, 255, 191);
  padding: 5px 5px;
  font-size: 0.8rem;
  border-radius: 50%;
}
.LatestNews .small-blog {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.small-blog__list {
  margin-left: 30px;
  line-height: 25px;
}
.LatestNews .small-blog__date {
  display: flex;
  color: rgb(116, 116, 116);
  font-size: 0.9rem;
}
.small-blog__date :nth-child(1)::after,
.small-blog__date :nth-child(2)::after {
  color: rgb(116, 116, 116);
  content: "ㅣ";
  margin-left: 3px;
  margin-right: 3px;
}

.right-content__ad img {
  margin-top: 80px;
  width: 100%;
  height: 550px;
}
.LatestComments img {
  border-radius: 50px;
  margin-right: 40px;
  margin-top: 15px;
}
.LatestComments .comments__list {
  display: flex;
  align-items: center;
  line-height: 20px;
}
.LatestComments .comments__date span {
  color: aqua;
}
.LatestComments .date__list {
  color: rgb(116, 116, 116);
}
@media (max-width: 1230px) {
  .container {
    width: 1000px;
  }
  .small-blog__date {
    flex-direction: column;
  }
}
@media (max-width: 1030px) {
  .container {
    width: 850px;
  }
  .blog-date {
    flex-direction: column;
    line-height: 30px;
  }
}
@media (max-width: 890px) {
  .container {
    flex-direction: column;
    margin-left: 20px;
  }
  .categories-list {
    width: 380px;
  }
  .search input {
    margin-top: 40px;
  }
  .main-left__content {
    width: 740px;
  }
}
@media (max-width: 805px) {
  .blog-1,
  .blog-2,
  .blog-3 {
    flex-direction: column;
  }
  .main-left__content {
    width: 500px;
  }
  .container {
    margin-left: 20px;
  }
}
