.main-img__section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;

  background-image: url(../img/main-img2.jpg);
}
.main-img__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-img__content p {
  color: #852424;
  font-size: 1.4rem;
  align-items: center;
  line-height: 50px;
}
h1 .h1 {
  font-size: 5rem;
  line-height: 100px;
  color: white;
  font-weight: 700;
  margin-bottom: 50px;
}

.main-img__section .main-button {
  position: relative;
  margin: 0 auto;
  justify-content: center;
  background-color: red;
  line-height: 220px;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 23px 40px;
  border-radius: 40px;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
}
@media (max-width: 926px) {
  h1 .h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 725px) {
  h1 .h1 {
    margin-bottom: 0px;
    line-height: 80px;
  }
}
@media (max-width: 434px) {
  h1 .h1 {
    font-size: 2.5rem;

    margin-bottom: 20px;
    line-height: 60px;
  }
  .main-img__content p:nth-child(2) {
    line-height: 40px;
    font-size: 1rem;
  }
}
